
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
  background: #EFEFEF;
  margin: 0;
}
main {
  width: 100%;
}

/* Nav + top image, all pages*/


header {
  background: #a7c1dc;
  background-repeat: repeat-x;
  margin-bottom: 40px;
  padding: 0px;
  width: 100%;
  height: auto;
}
#headerText {
  font-size: 90px;
  color: #EFEFEF;
  padding-top: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: "Century Gothic";
}
.headerContent {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  padding: 0px;
}
.navBar {
  height: 42px;
  width: 1024px;
  padding: 0px;
  margin-bottom: 10px;
}
ul {
  padding: 0px;
}
.narBar ul {
  padding: 0px;
  margin: 0px;
}
.navBar ul li {
  list-style: none;
  padding-left: 0px;
  font-family: "Century Gothic";
}
.navBar ul li a {
  color: grey;
  text-decoration: none;
  font-weight: bold;
  float: left;
  display: block;
  padding: 10px 20px;
  transition: 0.6s ease;
}
.navBar ul li a:hover {
  color: white;
  background-color: #A9A9A9;
}



/* About Page */

.aboutMain {
  width: 1024px;
  min-height: 600px;
  height: auto;
  margin: 0 auto;

}
.aboutArticle {
  float:right;
  background-color: #EFEFEF;
  width: 600px;
  height: auto;
  margin-right: 1%;
  margin-bottom: 15px;
  border-radius: 20px 20px 20px 20px;
}

.profileImage {
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.articleHead {
  padding-left: 10px;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
    text-align: left;
    display: block;
    padding-left: 10px;
    margin-bottom: 10px;
}
a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
p {
  padding: 0px 10px 10px 10px;
  font-size: 18px;
  font-family: "Calibri";
}
p1 {
  padding-left: 10px;
}

.aboutGames {
  float:left;
  background-color: #90CAF9;
  border-radius: 15px 15px 0 0;
  opacity: 0.9;
  width: auto;
  height: auto;
}
.aboutGamesTitle {
  text-align: center;
  margin-bottom: 2px;
}
h5 {
  margin-top: 0px;
  margin-left: 30px;
  color: white;
  font-style: italic;
}
.gameImageWrapper {
  clear: both;
  display: block;
  width: 220px;
  height: 220px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  background: #CAEBF2;
  border: 2px solid #CAEBF2;
}
.gameImage {
  width: 220px;
  height: 220px;
  position: absolute;
  display: block;
  top: 0;
  transition: top 0.3s ease-in-out;
}
.gameImageWrapper:hover .gameImage {
  top: -80px;
}
.content {
  margin-top: 148px;
  margin-left: 15px;
}
.content h2 {
  margin-bottom: 5px;
}
h4 {
  margin-top: 0;
  margin-bottom: 0;
}





/* Portfolio Page */

h1 {
  margin-bottom: 20px;
  font-family: Century Gothic;
  color: grey;
}

.portfolioMain {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  background-color: #dfe4ee;
}

.portfolioItem {
  float:left;
  width: 1024px;
  height: auto;
  margin-bottom: 20px;
  background-color: #dfe4ee;
}
.blogImage {
  margin-left: 37px;
  margin-bottom: 20px;
  max-width: 92%;
}
#portfolioTitle {
  text-align: center;
}

.gameText {
  float:left;
  width: 210px;
  opacity: 0.75;
  height: auto;
  margin-bottom: 15px;
  margin-right: 1%;
  border-radius: 15px;
}
h3 {
  margin-top: 10px;
  margin-bottom: 0;
}
.gameWrapper {
  float: left;
  margin-bottom: 10px;
  width: 800px;
  height: 600px;
}

#grid {
  width: 500px;
}
.cell {
  width: 8px;
  height: 8px;
  float: left;
  background-color: white;
  border: 1px solid black;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
